<div class="casinoPage">
    <section class="container mainContent">
        <div class="top">
            <!-- Slider -->
            <div class="promoSlider">
                <div class="list">
                    <h2>AWESOME GAMES <span>GET YOUR BUTT REGISTERED</span></h2>
                    <img src="styles/img/temp/cover_2.jpg" alt=""/>

                    <div class="detail">
                        <p>3rd slots win 1000 $ in Fruite Coctail Net | Ent.<br/>Already on our website</p>
                        <a href="#" class="btn mainC" data-text="JOIN NOW">JOIN NOW</a>
                    </div>
                </div>
                <div class="list">
                    <h2>BEST GAMES <span>IN ONE PLACE</span></h2>
                    <img src="styles/img/temp/cover_3.jpg" alt=""/>

                    <div class="detail">
                        <p>3rd slots win 1000 $ in Fruite Coctail Net | Ent.<br/>Already on our website</p>
                        <a href="full-registration-lightbox.html" class="btn mainC lightbox" data-text="register now">register
                            now</a>
                        </div>
                    </div>
                </div>
                <!-- featured -->
                <div class="featured">
                    <img src="styles/img/temp/casino-featured.jpg" alt=""/>

                    <div class="detail">
                        <h3>MOST POPULAR GAME<span>LUCKY PIRATES</span></h3>
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
            </div>
            <!-- Jackpot Games -->
            <div class="titleDivider">
                <i class="line"></i>

                <h3>JACKPOT GAMES</h3>
                <i class="line right"></i>

                <div class="sliderControls">
                    <i class="next">NEXT</i>
                    <i class="prev">PREV</i>
                </div>
            </div>
            <!-- Jackpot Games / Slider -->
            <div class="jackpotSlider">
                <div class="list">
                    <div class="badge"><i>Jackpot</i> <span>17.000.000 $</span></div>
                    <img src="styles/img/temp/casino_sample_1.jpg" alt=""/>

                    <div class="bottom">
                        <p>Dracula</p>

                        <div class="rate">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i class="inactive"></i>
                        </div>
                    </div>
                    <div class="hover">
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
                <div class="list">
                    <div class="badge"><i>Jackpot</i> <span>17.000.000 $</span></div>
                    <img src="styles/img/temp/casino_sample_2.jpg" alt=""/>

                    <div class="bottom">
                        <p>The Invisible Man</p>

                        <div class="rate">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i class="inactive"></i>
                        </div>
                    </div>
                    <div class="hover">
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
                <div class="list">
                    <div class="badge"><i>Jackpot</i> <span>17.000.000 $</span></div>
                    <img src="styles/img/temp/casino_sample_3.jpg" alt=""/>

                    <div class="bottom">
                        <p>Neon Staxx</p>

                        <div class="rate">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i class="inactive"></i>
                        </div>
                    </div>
                    <div class="hover">
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
                <div class="list">
                    <div class="badge"><i>Jackpot</i> <span>17.000.000 $</span></div>
                    <img src="styles/img/temp/casino_sample_4.jpg" alt=""/>

                    <div class="bottom">
                        <p>Real Gansters</p>

                        <div class="rate">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i class="inactive"></i>
                        </div>
                    </div>
                    <div class="hover">
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
                <div class="list">
                    <div class="badge"><i>Jackpot</i> <span>17.000.000 $</span></div>
                    <figure>
                        <img src="styles/img/temp/casino_sample_2.jpg" alt=""/>
                    </figure>
                    <div class="bottom">
                        <p>The Invisible Man</p>

                        <div class="rate">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i class="inactive"></i>
                        </div>
                    </div>
                    <div class="hover">
                        <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                        <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                    </div>
                </div>
            </div>
            <!-- Games -->
            <div class="gameList" id="gameList">
                <aside class="persist-header">
                    <h4>GAMES</h4>
                    <ul class="menu">
                        <li><a href="#" class="active">slots<i>1420</i></a></li>
                        <li><a href="#">my favorites<i>6</i></a></li>
                        <li><a href="#">popular<i>10</i></a></li>
                        <li><a href="#">new games<i>25</i></a></li>
                        <li><a href="#">jackpot games<i>425</i></a></li>
                        <li><a href="#">roulette<i>680</i></a></li>
                        <li><a href="#">blackjack<i>157</i></a></li>
                        <li><a href="#">baccarat<i>60</i></a></li>
                        <li><a href="#">live casino<i>22</i></a></li>
                        <li><a href="#">video poker<i>42</i></a></li>
                        <li><a href="#">all games<i>2510</i></a></li>
                    </ul>
                </aside>
                <section class="thumbs">
                    <div class="titleBar">
                        <form class="findGames">
                            <div class="right selectDropdown">
                                <label class="selectLabel">Sort by:</label>
                                <select chosen class="customSelect" ng-model="gameSorting.label" name="gamesorting" ng-options="option.label as option.label group by option.group for option in gameSorting" >
                                    <!-- <option value=""></option>                               -->
                                </select>
                            </div>
                            <fieldset class="search">
                                <legend>Search a Game</legend>
                                <input type="text" class="search"/>
                            </fieldset>
                        </form>
                    </div>
                    <ul class="list">
                        <!--<li ng-repeat="game in CASINOCOMMONPAGE_ASSETS.games | searchFor:searchString">-->
                        <!--<figure>-->
                        <!--<img src="styles/img/temp/casino_sample_1.jpg" alt="" />-->
                        <!--</figure>-->
                        <!--<div class="bottom">-->
                        <!--<p>Space Stars</p>-->
                        <!--<div class="rate">-->
                        <!--<i></i>-->
                        <!--<i></i>-->
                        <!--<i></i>-->
                        <!--<i></i>-->
                        <!--<i class="inactive"></i>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="hover">-->
                        <!--<a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>-->
                        <!--<a href="slot-interface.html" class="btn mainC forFun">play for fun</a>-->
                        <!--</div>-->
                        <!--</li>-->
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_2.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Titans of the Sun Hyperion</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_3.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>EggOMatic</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_4.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Music</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_5.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>SteamTower</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_6.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Tiki Wonders</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_7.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Big Bad Wolf</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_8.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Taco Brothers</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_9.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Titans of the Sun</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_1.jpg" alt=""/>
                            </figure>
                            <div class="bottom">
                                <p>Space Stars</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_2.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Aliens Viber Slot</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_3.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>EggOMatic</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_4.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Music</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_5.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>SteamTower</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_6.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Tiki Wonders</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="styles/img/temp/casino_sample_6.jpg"/>
                            </figure>
                            <div class="bottom">
                                <p>Tiki Wonders</p>

                                <div class="rate">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i class="inactive"></i>
                                </div>
                            </div>
                            <div class="hover">
                                <a href="slot-interface.html" class="btn mainC forReal">play for real</a><br/>
                                <a href="slot-interface.html" class="btn mainC forFun">play for fun</a>
                            </div>
                        </li>
                    </ul>
                    <!-- Load More Games -->
                    <div class="LoadMoreWrap">
                        <a href="" class="loadMore">SHOW MORE GAMES</a>
                    </div>
                </section>
            </div>
        </section><!-- container -->
    </div>