//************************//
//      SPORT Colors      //
//************************//

$spC_soccer : #1ba673;
$spC_tennis : #0c6ab3;
$spC_basketball : #ef7626;
$spC_volleyball : #918560;
$spC_iceHockey : #b8d4e6;
$spC_baseball : #b07a5c;
$spC_rugby : #799755;
$spC_handball : #42777f;
$spC_snooker : #37b764;
$spC_amFootball : #14805e;
$spC_athletics : #0b5b99;
$spC_ausRules : #0b614b;
$spC_badminton : #70c2a7;
$spC_bandy : #69b5b4;
$spC_beachFootball : #bfaf7e;
$spC_beachHandball : #ccbb87;
$spC_beachVoleyball : #d9c68f;
$spC_biathlon : #bedbed;
$spC_bowls : #2a8c4c;
$spC_boxing : #0e7acc;
$spC_chess : #edbd6f;
$spC_cricket : #1bab7d;
$spC_curling : #76bbef;
$spC_cycling : #595959;
$spC_darts : #d32939;
$spC_diving : #118be9;
$spC_floorball : #72cddb;
$spC_formula : #3f3f3f;
$spC_futsal : #65b5c2;
$spC_golf : #189946;
$spC_gymnastics : #03b5a5;
$spC_fieldHockey : #168a70;
$spC_horseRacing : #6d5e4d;
$spC_motosport : #8d612e;
$spC_nascar : #4d4d4d;
$spC_poolBetting : #b35fb1;
$spC_rally : #c28540;
$spC_rugbyLeague : #799755;
$spC_rugbyUnion : #799755;
$spC_shooting : #d5d345;
$spC_swimming : #118be9;
$spC_tableTennis : #0c82b3;
$spC_waterPolo : #338fd6;
$spC_Esports : #5e55a1;
$spC_mma : #868686;
$spC_allVrSports : #8555a1;
$spC_gaelicFootball : #358014;
$spC_hurling : #189946;
$spC_cyberFootball : #1b1b1b;
$spC_surfing : #3598e4;
$spC_Ebasketball : #d96c23;
$spC_callOfDuty : #000000;
$spC_counterStrike : #c28503;
$spC_dota2 : #a93844;
$spC_lol : #2d2d2d;
$spC_hearthStone : #d8bf56;
$spC_sumo : #b0a174;
$spC_speedway : #aca696;
$spC_squash : #e1b93f;
$spC_rugbySevens : #799755;
$spC_crossCntrySkiing : #bedbed;
$spC_shortTrSpeedSkating : #b1cdde;
$spC_freestyleSkiing : #bfbfbf;
$spC_luge : #99c4de;
$spC_figureSkating : #b1cdde;
$spC_autoRacing : #4d4d4d;
$spC_alpineSkiing : #93c6e5;
$spC_snowBoarding : #9dd3f5;
$spC_pesapallo : #db8e48;
$spC_extremeSport : #a61f2d;
$spC_skiJumping : #c4dae8;
$spC_triathlon : #a1c4c6;
$spC_netball : #d0b563;
$spC_poker : #116b4f;
$spC_lacrosse : #168763;
$spC_rowing : #0f81d9;
$spC_sailing : #0d72bf;
$spC_worldWrestling : #B80F20;
$spC_freestyleWresling : #edbe13;
$spC_grecoRomanWrestling : #edbe13;
$spC_rinkHockey : #e3bb6d;
$spC_inlineHockey : #ffcb78;

//************************//
//       MAIN Colors      //
//************************//
$bgC_body : #e6e5dc;
$bgC_base : #105b63;
$bgC_baseDark : #0e5259;
$bgC_event_active : #1c89b0; /* + bgC_moduleTab_active */
$bgC_moduleTab : #f3f2e9; /* + bgC_titleBtn */
$bgC_orangeBtn : #ff8067; /* also border of active tabs + current score + txtC_menu_hover*/
$bgC_orangeBtn_hover : #e6735c;
$bgC_greenBtn : #468966;
$bgC_greenBtn_hover : #397054;
$bgC_titleBtn_hover : #f2f0e1;
$bgC_titleMarket : #ede6d6;
$bgC_titleMarket_active : #e6dac1;
$bgC_odds : #fffef6;
$bgC_odds_hover : #f5f1e6;
$bgC_odds_active : #1ca1b0;
$bgC_odds_inactive : #eeeee5;
$bgC_openedEvent : #f5f4ec;
$bgC_openedEvent_rgba04 : rgba(245,244,236,.4);
$bgC_goal : #ffd34e;
$bgC_tooltip : #689ec4;
$bgC_tooltipGrey : #8f9193;
$bgC_dropdown : #f1f0e5;
$bgC_dropdown_hover : #f7ecca;
$bgC_footer : #dfd8c7;
$bgC_footerPayment : #dbd3c1;
$bgC_inputInactive : #d4d4d4;
$bgC_inputActive : #52a178;
$bgC_yellowCard : #d9ab1f;
$bgC_redCard : #d1191f;
$bgC_favEvents : #F9F7E7;

$txtC_menu : #ffffff; /* + submenu */
$txtC_basic : #303838;
$txtC_basic_rgba02 : rgba(48,56,56,.2);
$txtC_basic_rbga08 : rgba(48,56,56,.8);
$txtC_currentTime : #44983d;
$txtC_mainRed : #ca5555;
$txtC_addsResult : #3988c0;
$txtC_btn : #fffff7;
$txtC_league : #797c80;
$txtC_odd : #006aa6;

$borderC : #a09c90;
$borderC_header : #237a81;
$borderC_headerDark : #0b4046;
$borderC_module : #c3c3c3;
$borderC_event : #d3d1c1;
$borderC_widget : #041d15;
$borderC_widget_rbga03 : rgba(4, 29, 21, 0.3);
$borderC_dropdown : #bfbcb1;

$iconC_liveStream: #5894bf;
$iconC_iconArrowDown: #a5a7a9;
$iconC_footer : #989182;
$iconC_favorite: #eecc67;


//*******************8*****//
//        Transition      //
//************************//
$x0: .125s;
$x1: .25s;
$x2: .50s;
$x3: 1s;
$x4: 1.5s;
$x5: 2s;

//************************//
//        	Mixins	      //
//************************//

// Borders
@mixin fullBorder() {
	border: 1px solid $borderC;
}

@mixin topBorder() {
	border-top: 1px solid $borderC;
}

@mixin bottomBorder() {
	border-bottom: 1px solid $borderC;
}

// buttons
@mixin btn($fontSize, $padding, $lineHeight) {
	line-height: $lineHeight;
	padding: $padding;
	font-size: $fontSize;
	display: inline-block;
	height: auto;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: $txtC_btn;
}

@mixin activeItem() {
	border-radius:4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5), inset 0 1.5px 0 rgba(0,0,0,0.5);
	border-right: solid 1.5px rgba(0,0,0,0.1);
	border-left: solid 1.5px rgba(0,0,0,0.1);
}

body{ margin:0;padding:0;background:$bgC_body; }
a {text-decoration: none;transition:$x1 all;}
a:focus{outline: none;}
