.eventView{
	.subTabs.content{ background: $bgC_moduleTab;
		ul{ position: relative; overflow: hidden;
			&:after{ content:""; position: absolute; height:1px; border-bottom: solid 1px $borderC_module; width: 51.59%; bottom: 0;}
		}
		li{ width: 12.1212121212%;
			&:last-child{
				 a{border-right: solid 1px $borderC_module;}
			 }
		}
	}
	.widget{ height: 150px; width: 100%; overflow: hidden; position: relative;
		figure{ position: relative; z-index: -1; height: 100%;
			img{ height: 100%;}
		}
		.info_table{ width: 500px; margin: auto; position: absolute; border: none; left: 24%; top: 23px;
			.cell{ text-align: center;}
			.title{ border-bottom: solid 1px $borderC_widget; color: $bgC_titleMarket; font-size: 12px; font-weight: normal; line-height: 25px; min-height: 25px;
				.cell:first-child{ flex: 5; text-align: left; padding-right: 30px;}
			}
			.module_body{ padding: 0 10px; background: $txtC_basic;  border-radius: 0 0 4px 4px; position: relative;
				.cell { font-size: 19px; color: $txtC_menu; cursor: default;
					&:first-child{ flex: 5; text-align: left; padding-left: 30px;}
					&:last-child{ color:$bgC_orangeBtn;}
				}
				.row{ padding: 10px 0; border-bottom: solid 1px $borderC_widget_rbga03;
					&:last-child{ border-bottom: none; position: relative;
						&:before, &:after { content:""; position:absolute; z-index: -1; box-shadow: 1px 6px 20px rgba(0,0,0,0.8); top:50%; bottom:0; left:5%; right:0; width: 90%; border-radius: 50%; }
					}
				}

			}
		}
	}
}
