footer {clear:both;min-height:50px;background:$bgC_footer;
	.paymentsMethods{background:$bgC_footerPayment;
		a{font-size: 48px; color:$txtC_paymentIcons;}
	}
	.container {

	}
	.footer{background: $bgC_base;}
}