.overView{
	.subTabs.content{ background: $bgC_moduleTab;
		ul{ position: relative; overflow: hidden;
			&:after{ content:""; position: absolute; height:1px; border-bottom: solid 1px $borderC_module; width: 51.59%; bottom: 0;}
		}
		li{ width: 12.1212121212%;
			&:last-child{
				 a{border-right: solid 1px $borderC_module;}
			 }
		}
	}
	.favEvents{
		.title{ background: $bgC_favEvents; border: solid 1px  rgba(0, 0, 0, 0.1); padding: 10px 0 10px 15px;
			&:before{ font-size: 15px; color:red;}
		}
	}
	.wrapper{
		.event_title{ }
	}
}
