/*------------------------------*/
/* LEFT SIDEBAR FOR LIVE INPLAY */
/*------------------------------*/

//general styles for all modules in leftsidebar
.leftSidebar{min-width:236px;max-width: 236px; flex:1;
  .module{background: transparent;border-bottom: none;
    .module_body{
      .event{float:left;width:100%;white-space:nowrap;min-height:30px;line-height:30px;background-color:$bgC_odds;border-radius:4px;margin-bottom:5px;border-bottom:1px solid $borderC_module;
        a, span{color:$txtC_basic;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;float:left}
        .liveStream{position:relative;left:-5px;color:$iconC_liveStream;font-family:'loungebet_icons';float:left;
          &:after, &:before{content: '';position:absolute;font-size:16px;}
          &:after{content:'\38';color:$iconC_liveStream;opacity: .7}
          &:before{content:'\39';opacity: .3}
        }
        .eventTitle{cursor:pointer;position:relative;width:100%;float:left;display:flex;
          .eventName{padding:0 10px;float:left;max-width:207px;transition:all $x1;}
          .eventHover{position:relative;float:right;width:0;height:30px;opacity:0;visibility:hidden;display:flex;justify-content:flex-end;transition:width $x2,right $x1;
            .icon-star{position: absolute;left:25px;height:30px;padding-top:8px;transition:all $x3;}
            .icon-arrow_down{position:absolute;right:25px;height:30px;width:30px;padding-top:8px;border-left: 1px solid;transition:all $x2;}
          }
          &.withIcon{
            .eventName{max-width:200px;}
            &:hover{
              .eventName{max-width:168px;}
            }
          }
          &:hover{
            .eventName{max-width:175px;}
            .eventHover{width:60px;opacity:1;visibility:visible;
              &.withIcon{right:-10px;}
              .icon-star{left:10px;padding-right:7px;opacity:.5;
                &:hover{opacity: 1;}
              }
              .icon-arrow_down{right:0;padding-left:7px;opacity:.5;
                &:hover{opacity: 1;}
              }
            }
          }
        }
        .leagueName{color:$txtC_league;text-align:center;display:block;width:100%;border-top:1px solid $borderC_module;font-weight:500;}
        .eventDetails{height:0;opacity:0;visibility:hidden;background:$bgC_openedEvent;width:100%;float:left;border-radius:4px;transition:all $x1 ;
          ul{padding: 0 5px;
            li{border-radius:6px;padding:0 10px;border:1px solid $borderC_module;width:100%;float:left;box-sizing:border-box;margin-bottom:5px;
              .result{color:$bgC_orangeBtn;float:left;font-weight:700;font-size:15px;}
              .time{color:$txtC_currentTime;float:right;font-size:15px;font-weight:500;}
              &.odds{float:left;background:$bgC_odds;cursor:pointer;
                .coef{float:right;}
                .teamName{color:$txtC_odd;}
                .coef{color:$txtC_basic;font-weight:500;}
                &:hover{background:$bgC_odds_hover;}
                &.active{background:$bgC_odds_active;color:$txtC_menu;
                  .coef, .teamName{color:$txtC_menu;}
                }
              }
            }
          }
          .eventDisable{background:rgba(255,255,255,.3)}
        }
        &.opened{
          .eventDetails{height:auto;opacity:1;visibility:visible;}
        }
        &.active{
          .eventTitle{
            .eventHover{width:60px;opacity:1;visibility:visible;
              &.withIcon{right:-10px;}
              .icon-star{left:10px;padding-right:7px;opacity:.5;
                &:hover{opacity: 1;}
              }
              .icon-arrow_down{right:0;padding-left:7px;opacity:.5;
                &:hover{opacity: 1;}
              }
            }
          }
        }
      }
    }
  }
}
//styles for separate modules in leftsidebar
.search{}
.sportListItem{float:left; width:100%;
  .header{position:relative;background-color:$bgC_moduleTab;color:$txtC_basic;
    .sportHover{z-index:0;display:block;position:absolute;top:0;bottom:0;right:98.3%;left:0;transition:all $x2 $x0;}
    .sportName{z-index:1; position: relative;}
    &:hover{color:$txtC_menu;
      .sportHover{right:0;}
      &:after{content:"\31";color:$txtC_menu;}
    }
    &:before{content:"";font-family:'loungebet_icons'; }
    &:after{content:"\31";color:$iconC_iconArrowDown;font-family:'loungebet_icons';transition:all $x3 $x0;}
  }
  &.opened{
    .header{color:$txtC_menu;
      .sportHover{right:0;}
      &:after{content:"\7a";color:$txtC_menu;}
    }
  }
}

.soccer{
  .header{
    .sportHover{background-color:$spC_soccer;}
    &:before {content: "\73";}
  }
}
.tennis{
  .header{
    .sportHover{background-color:$spC_tennis;}
    &:before {content: "\75";}
  }
}

