<section class="container">
                <!-- Nav Links -->
                <ul class="links">
                    <li>
                        <p><a href="promotions.html">Promotions</a></p>
                    </li>
                    <li>
                        <p><a href="#">VIP</a></p>
                    </li>
                    <li>
                        <p><a href="#">Help Center</a></p>
                    </li>
                    <li>
                        <p><a href="#">Responsible Gaming</a></p>
                    </li>
                    <li>
                        <p><a href="#" fancybox ng-click=openFancybox("views/tnc/terms-and-conditions-lightbox.html")>Terms and Conditions</a></p>
                    </li>
                    <li>
                        <p><a href="#" fancybox ng-click=openFancybox("views/tnc/cookie-policy-lightbox.html")>Cookie Policy</a></p>
                    </li>
                    <li>
                        <p><a href="#" fancybox ng-click=openFancybox("views/tnc/privacy-policy-lightbox.html")>Privacy Policy</a></p>
                    </li>
                    <!--<li>
                          <p><a href="#" fancybox ng-click=openFancybox("views/tnc/restricted-territories-lightbox.html")>Restricted Territories</a></p>
                        </li> -->
                    <li>
                        <p><a href="#">Affiliates</a></p>
                    </li>
                </ul>
                <!-- / Nav Links -->

            <!-- Payment Methods -->
            <div class="payMethods">
                <p class="title">Payments Methods</p>
                <i class="divider"></i>
                <ul class="slider">
                    <li><a href="#"><i class="visa"></i></a></li>
                    <li><a href="#"><i class="masterCard"></i></a></li>
                    <li><a href="#"><i class="skrill"></i></a></li>
                    <li><a href="#"><i class="neteller"></i></a></li>
                    <li><a href="#"><i class="qiwi"></i></a></li>
                    <li><a href="#"><i class="webMoney"></i></a></li>
                    <li><a href="#"><i class="ecoPays"></i></a></li>
                    <li><a href="#"><i class="paySafeCard"></i></a></li>
                </ul>
                <i class="arrow next-button-slick"></i>
            </div>
            <!-- / Payment Methods -->

            <!-- Partners -->
            <div class="partners">
                <p class="title">Partners</p>
                <i class="divider"></i>
                <ul>
                    <li><a href="#"><i class="netEnt"></i></a></li>
                    <li><a href="#"><i class="microgaming"></i></a></li>
                </ul>
            </div>
            <!-- / Partners -->

            <!-- Rights -->
            <div class="secRow">
                <i class="divider"></i>
                <div class="left">
                    <small><span>© 2015, VictoryRoom. All rights reserved.</span>
                        VictoryRoom is operated by James Bond registered in the Commercial register of Curacao no. 126922 and has a sublicense CIL pursuant to Master gaming License №5536/JAZ. Powered by <em>BETCONSTRUCT</em> </small>
                        <i class="ratedR">+18</i>
                    </div>
                    <!-- Social -->
                    <div class="social">
                        <a href="#" class="socicon-facebook socicon"></a>
                        <a href="#" class="socicon-twitter socicon"></a>
                        <a href="#" class="socicon-google socicon"></a>
                        <a href="#" class="socicon-youtube socicon"></a>
                        <a href="#" class="socicon-linkedin socicon"></a>
                    </div>
                    <!-- / Social -->
                    <i class="divider"></i>
                </div>
                <!-- / Rights -->

                <!-- License -->
                <div class="license">
                    <p class="title">LICENSING</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
                <!-- / License -->
            </section>
            <!-- Go To Top -->
            <i class="goToTop"></i>
        <!-- <div id="popupBox"></div>
        <div id="popupOverlay"></div> -->
