body {font: 13px/150% 'Ubuntu', Arial, Helvetica, sans-serif;}
h1,
h2,
h3,
h4{line-height: 150%;font-weight: 500;}
h3{text-transform: uppercase;}
nav a{font-family:'Ubuntu';font-weight:500}
.lightboxContent h3{font-size:18px;}
.myAccount{font-size: 14px;
	nav a{font-family:'Ubuntu';}
}
.helpCenter {
	font-size: 14px;
	nav a {
	 font-family: 'Ubuntu', sans-serif;
	}
}
