input[type=radio],input[type=checkbox]{display: none;}
input[type=radio]{
	&:disabled + label{
		&:before, &:after{opacity: .6}
	}
	&:checked+label:after{
		content:"";border:3px solid $txtC_basic;border-radius:50%;position:absolute;top:5px;left:4px;border-bottom-width:4px;border-right-width: 4px;
	}
}
input[type=checkbox]{
	&:checked+label:after{
		content:"\6d";border:none;transform:none;width:20px;height:15px;position:absolute;top:0;left:0;color:$txtC_basic;font-family:'loungebet_icons';
	}
	&:checked+label:before{
		visibility: hidden;
	}
}
label.checkbox, label.radio{position:relative;float:left;margin:7px 15px;cursor:pointer;}
label.radio:before{content:"";display:block;float:left;border-radius:50%;width:15px;height:15px;margin:1px 7px 0 0;background:none;border: 1px solid $txtC_basic;}
label.checkbox:before{content:"\6e";border:none;display:block;float:left;width:20px;height:15px;color:$txtC_basic;font-family:'loungebet_icons';}
