.hide{ display: none!important; }
.wrapper{ width:100%; float:left;}

//*******************************//
//   Classes for sport Icons    //
//*****************************//
.soccer, .tennis, .basketball, .volleyball, .hockey, .baseball, .rugby, .handball, .snooker, .moto, .formula{
	&:before{content:'';display:block;float:left;width:20px;height:20px; background:url('../img/icons/sports.png') no-repeat 0px 0px;}
}
.soccer:before{background-position: 1px 2px;}
.tennis:before{background-position: 1px -18px;}
.basketball:before{background-position: 1px -37px;}
.volleyball:before{background-position: 1px -58px;}
.hockey:before{background-position: 1px -77px;}
.baseball:before{background-position: 1px -97px;}
.rugby:before{background-position: 1px -117px;}
.handball:before{background-position: 1px -137px;}
.snooker:before{background-position: 1px -157px;}
.moto:before{background-position: 1px -177px;}
.formula:before{background-position: 1px -195px;}

//*******************************//
//     Classes for buttons      //
//*****************************//
.filter{
	span{cursor:pointer;display:inline-block;width:38px;height:22px;background:$bgC_baseDark;border:solid 1px $borderC_headerDark;border-radius:2px;opacity:0.5;
		&.video{ position: relative;
			&:after{ content:"\38";position: absolute;left:8px;height: 20px;font-family:'loungebet_icons';}
			&:before{ content:"\39";position: absolute;left:8px;opacity:0.3;height:20px;font-family:'loungebet_icons';}
		}
		&:after, &:before{ font-size:20px;}
		&.active, &:hover{ opacity:1;}
		&.scout{ position: relative;
			&:after{content:"\e903";position: absolute;left:8px;height: 20px;font-family:'loungebet_icons';}
			//&:before{content:"\39";position: absolute;left:0;opacity:0.5}
		}
	}
}