/*----------------------------*/
/* GENERAL STYLES FOR MODULES */
/*----------------------------*/

.module{ background: $bgC_odds; width: 100%; border-radius: 4px; box-shadow: 1px 1px 0px $borderC_module;
  .header, .title{background-color:$bgC_base; color:$bgC_base;}
  .header{border-radius:4px;}
  .title{border-radius:4px 4px 0 0 ;}
}