.myAccount, .helpCenter{
	.overviewBox .container .wrap{background:$background80CO;min-height:200px;width:100%;margin:90px 0 25px 0;color:#FFF;
	// Overview Page
	.userInfo{width:27.48091603053435%;float:left;border-right:1px #FFF solid;height:170px;margin:15px 0 0;padding-left: 2%;
		em{float:left;color:#FFF;font-size:16px;color:#FFF;font-style:normal;margin:70px 0 0 20px}
		.avatar{float:left;position:relative;width:165px;height:165px;overflow:hidden;border-radius:50%;margin-top:2px;
			&:before{overflow:hidden;border-radius:50%;opacity:0;transition:$x0 all;background:$MA_progressFillCO;position:absolute;left:0;top:0;z-index:1;content:"Change Avatar";color:#FFF;text-align:center;line-height:160px;font-size:16px;font-weight:500;width:100%;height:100%;}
			&:hover{
				&:before{opacity:1;font-size:20px}
			}
		}
	}
	.overview{float:left;width:72.51908396946565%;
		.levelBar{float: left;width:100%;margin-bottom:40px;
			em{float:left;color:#FFF;font-size:20px;color:#FFF;font-style:normal;margin:30px 0 0 6%}
			.barWrap{width:78.52631578947368%;float:right;border-radius:10px;height:6px;background:$MA_progressC;margin:35px 5.8% 0 0;position:relative;overflow:hidden;}
			.progress{height:100%;float:left;background:$MA_progressFillC;position:absolute;left:0;top:0;z-index:1}
		}
		ul.total{cursor:default;
			li{float:left;width:33.3%;border:1px solid transparent;padding:0 10px;position:relative;text-align:center;
				p.number{padding:20px 0 15px;font-size:30px;font-weight:500;line-height:100%;}
				p.footer{padding:10px 0 5px;border-top:1px solid #FFF;line-height:100%;font-size:16px;margin:0 15%;font-weight:300;}
			}
		}
		.notify{margin:20px 0 0;}
		.table{width:100%;font-size:13px;@include fullBorder();border-left:none;border-top:none;float:left;margin:10px 0 0;
			.row{float: left;width:100%;
				.col1{width:14.20765027322404%;}
				.col2{width:19.67213114754098%;}
				.col3{width:20.76502732240437%;}
				.col4{width:15.40054644808743%;}
				.col5{width:16.82131147540984%;}
				.col6{width:13.11475409836066%;}
				p{@include fullBorder();border-bottom:none;border-right:none;float:left;text-align:center;color:$MA_textC;padding:10px 0;}
			}
			.title{cursor:default;
				p{height:75px;background:$MA_tableTitleBackgroundC;line-height:75px;font-weight:600;border-bottom:none;color:$MA_tableHeaderC;padding:0}
				p.col4{width:45.3551912568306%;line-height: 100%;padding: 12px 0 0;
					span{float:left;width:33%;@include fullBorder();border-left:none;border-bottom:none;height:37px;line-height:37px;margin-top:13px;color:$MA_textC;font-weight:600;
						&.col4{width:34.05797101449275%}
						&.col5{width:36.95652173913043%}
						&.col6{width:28.98550724637681%}
						&:last-child{border-right:0}
					}
				}
			}
		}
	}

}
.breadcrumbs{
	ul{list-style:none;overflow:hidden;font-size:12px;
		li{float:left;border-top: solid 1px $MA_lightBorderC;border-bottom: solid 1px $MA_lightBorderC;color:$MA_title2ndC;background: $MA_backgroundWhiteC;position: relative;display: block;float: left;text-decoration: none;padding: 5px 10px 5px 20px;text-align: center;line-height: 12px;cursor:default;
			&:after{content:"";position: absolute; right: -10px; top: 0;border-top: 11px solid transparent;border-bottom: 11px solid transparent;border-left: 11px solid $MA_backgroundWhiteC; z-index:2;}
			&:before{content:"";border-top: 11px solid transparent;border-bottom: 11px solid transparent;border-left: 11px solid $MA_lightBorderC;position: absolute; left: 0px; top: 0; z-index:1;}
			a{color:$MA_title2ndC;display:block;width:100%;height:100%;
					/*&:hover{background:#F4F4F4;
						&:after{border-left: 14px solid #F4F4F4;}
					}*/
				}
				&:first-child{border: solid 1px $MA_lightBorderC;border-radius: 5px 0 0 5px;border-right: 0;padding: 5px 10px;border-radius: 5px 0 0 5px;
					&:before{border-left: 20px solid transparent;}
				}
				&:last-child{border: solid 1px $MA_lightBorderC;border-radius: 0 5px 5px 0;border-left: 0;border-radius: 0 5px 5px 0;
					&:after{border-left: 20px solid transparent;}
				}						
			}
		}
	}
	h1{font-weight: 500;font-size: 24px;padding: 10px;color:$MA_backgroundDarkC;}
	.tabs{width: 100%;float:left;position: relative;z-index: 2;background:$MA_backgroundLightC;
		nav{color:$MA_backgroundWhiteC;font-size:14px;text-transform:capitalize;
			ul{
				li{ float:left;height:100%;width:12.25490196078431%;
					a{display:inline-block;width:100%;padding:15px 0px;text-align:center;line-height:100%;position:relative;background:#F3F3F3;@include MA_fullBorder;border-bottom: none;border-right: none;font-weight:500;color: $MA_textC;
						&:hover{background:$MA_backgroundWhiteC;color:$MA_blueC;}
					}
					&:last-child{a{border-right:solid 1px #D4D4D4;}}
					a.active{color:$MA_blueC;background:$MA_backgroundWhiteC;
						&:after{border-bottom:1px solid $MA_backgroundWhiteC;content:"";position:absolute;bottom:-1px;width:100%;left:0;}
					}
				}
			}
		}
	}
	.subTabs{width: 100%;float:left;margin-bottom: 20px;@include MA_bottomBorder();
		nav{color:$MA_backgroundWhiteC;font-size:14px;text-transform:capitalize;
			ul{
				li{float:left;height:100%;width:12.25490196078431%;
					a{display:inline-block;width:100%;padding:15px 0px;text-align:center;line-height:100%;position:relative;background:$MA_backgroundWhiteC;color:$MA_textC;
						&:hover{color:$MA_blueC;}
					}
					a.active{color:$MA_blueC;font-weight:500;background:$MA_backgroundWhiteC;
						&:before{border-bottom:3px solid $MA_blueC;content:"";position:absolute;bottom:-1px;width:101.5%;left:0;}
					}
				}
			}
		}
	}
	.content{width:100%;float:left;background:$MA_backgroundWhiteC;@include MA_fullBorder;padding:10px;min-height: 550px;}
}
@media #{$maxDesktop} {	
	.myAccount{
		.overviewBox{
			.container{
				.wrap{
					.overview{
						.levelBar{margin-bottom:27px!important;}
					}
				}
			}
		}

	}
}